/* HEADER */
.header{
    background-color: #024059;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.header__title{
    font-size: 30px;
}

/* BODY */
body{
    background-color: #5FCDD9;
}


/* MAIN */
.main{
    display: flex;
}

/* PRODUCTS */
.main__products{
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 60%;
    scrollbar-color: #024059 transparent;
}

.main__products h1{
    text-align: center;
    font-size: 40px;
}

.main__products__items{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 10px;
    height: 52vh;
    justify-content: center;
    overflow-y: auto;
    margin-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    border: solid 5px #ffdb4b;
    border-radius: 15px;
    background-color: #024059;
    height: 300px;
    width: 250px;
    padding: 10px;
    margin: 20px;
}

.img_card{
    height: 220px;
    object-fit: contain;
    border-radius: 10px;
}

.product__description{
    margin-top: 10px;
    margin-left: 5px;
    color: white;
}

.product__value{
    display: flex;
    flex-direction: row;
}

.delete__card{
    border: none;
    margin-left: auto;
    margin-right: 5px;
    margin-top: -15px;
    cursor: pointer;
}


/* FORM */
.main__form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3%;
}

.main__form h1{
    text-align: center;
    font-size: 40px;
}

.form__container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form__container input{
    border: solid 5px #ffdb4b;
    background-color: #024059;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    color: white;
}
.button__container{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.button__container button{
    border: solid 5px #ffdb4b;
    background-color: #024059;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 2%;
}


/* FOOTER */
.footer-container {
    background-color: #024059;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
}

.footer-container > p, small {
    color:#FFFFFF ;
    font-family: 'IBM Plex Mono', monospace;
}